.daily {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.daily-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 0 5px 0 rgba(255, 254, 254, 0.75);
  border-radius: 5px;
  margin-bottom: 100px;
  font-weight: 100;
}

.daily-day {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  font-size: calc(5px + 2vmin);
  font-weight: 100;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.464);
}

.daily-icon,
.daily-date,
.daily-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .daily-date {
  width: 25%;
  text-align: left;
} */

/* .daily-temp {
  text-align: left;
  flex: 1;
} */

/* .daily-desc {
  display: flex;
  justify-content: flex-start;
  flex: 1.1;
} */
