.search {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.search input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  margin-right: 2px;
  outline: none;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
}

.search button {
  width: 50%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin: 10px 0;
}

.search * {
  border-radius: 5px;
}

.search-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 5px;
}

.search-result {
  font-size: 1rem;
  padding: 5px 0;
  cursor: pointer;
  width: 100%;
}

.search-result:hover {
  background-color: slategrey;
}

.dropdown {
  position: absolute;
  background-color: lightslategray;
  padding: 10px 0;
  z-index: 1;
  left: 0;
  width: 100%;
}

.hidden {
  display: none;
}
