*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
}

.container {
  max-width: 1024px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 640px) {
  .search-result {
    font-size: 1.2rem;
  }
  .hourly-container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .search-result {
    font-size: 1.5rem;
  }
}

.vert-down {
  animation: vert-slide-in 0.35s ease 0s 1 normal forwards;
}

.vert-up {
  animation: vert-slide-out 0.35s ease 0s 1 normal forwards;
}

.vert-bottom {
  animation: vert-slide-bottom 0.35s ease 0s 1 normal forwards;
}

@keyframes vert-slide-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}

@keyframes vert-slide-in {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

@keyframes vert-slide-out {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}
