.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  text-align: center;
}

.current-weather div {
  margin: 7px 0;
}

.current-city {
  font-size: 2.5rem;
  font-weight: 500;
}

.current-temp {
  font-size: 3rem;
  font-weight: 500;
}

.daily-high-low,
.sun {
  font-size: 1rem;
  display: flex;
  gap: 20px;
}
